name: CI

on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/shared-build.yaml
    with:
      ffmpeg_version: "7.1.3"

  ffmpeg-tests:
    needs: build
    uses: ./.github/workflows/shared-ffmpeg-tests.yaml
    with:
      ffmpeg_version: "7.1.3"

  python-tests:
    needs: build
    uses: ./.github/workflows/shared-python-tests.yaml
