name: CI

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  build:
    uses: ./.github/workflows/shared-build.yaml
    permissions:
      contents: read

  test-ffmpeg-binaries:
    needs: build
    uses: ./.github/workflows/test-ffmpeg-binaries.yaml
    permissions:
      contents: read

  test-pyav-binding:
    needs: build
    uses: ./.github/workflows/test-pyav-binding.yaml
    permissions:
      contents: read
