name: CI

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  build:
    uses: ./.github/workflows/shared-build.yaml
    permissions:
      contents: read

  ffmpeg-tests:
    needs: build
    uses: ./.github/workflows/shared-ffmpeg-tests.yaml
    permissions:
      contents: read

  python-tests:
    needs: build
    uses: ./.github/workflows/shared-python-tests.yaml
    permissions:
      contents: read
